# CognoDB Cloud connection details
# Get these from console.cognodb.com -> your instance -> "Connect"
COGNODB_URI=bolt+s://db-c8807bdd.bravo.databases.cognodb.com
COGNODB_USER=cognodb
COGNODB_PASSWORD=6753f989c987d251a6b78ec4eee9fdd6

# Local server port
PORT=4000
